* {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* Quote Banner -------------------------*/
#quote-banner {
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #db1818;
}
#quote {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Navbar -------------------------------*/
nav {
  border-bottom: 1px solid LightGray;
}
.nav-link {
  font-size: 22px;
}

/* Image Banner -------------------------*/
#image_banner_container {
  background-color: #6dd2fe;
}
#image_banner {
  max-width:100%;
  max-height:100%;
  margin-bottom: 1px !important;
}

/* Ads ----------------------------------*/
.ad_image {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

/* Comic --------------------------------*/
#title {
  font-family: 'Roboto', sans-serif;
}
#date {
  font-weight: 300 !important;
  font-family: 'Roboto', sans-serif;
}
.comic_image {
  max-width: 100%;
  display: block;
  margin-left:auto;
  margin-right: auto;
}

/* Thumbnails ---------------------------*/
h4 {
 word-break: break-word; 
}
.thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 150px;
  border: 6px solid black;
}
.thumbnail_title{
  font-family: 'Roboto', sans-serif !important;
}
.thumbnail_date {
  font-weight: 300 !important;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50px !important;
}

/* Form ---------------------------------*/
#form_div {
  height:auto; 
  margin:0 auto; 
}
form{
  margin:0 auto;
  text-align: center;
}
#form_button{
    width:100px;
    display:block;
    margin:0 auto;
}
.formspree_textarea {
  height: 150px;
}

/* Archive Buttons ----------------------*/
#current_button_page {
  color: #009900 !important;
  font-weight: bold;
}

/* Footer -------------------------------*/
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: LightGray;
  text-align: center;
}

/* Nav Buttons --------------------------*/
.nav_button {
  width: 15%;
  max-width: 140px;
}

/* Donate -------------------------------*/
.donate_logo {
  max-width: 100%;
}
