* {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* Quote Banner -------------------------*/
#quote-banner {
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #db1818;
}
#quote {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Navbar -------------------------------*/
nav {
  border-bottom: 1px solid LightGray;
}
.nav-link {
  font-size: 22px;
}

/* Image Banner -------------------------*/
#image_banner_container {
  background-color: #6dd2fe;
}
#image_banner {
  max-width:100%;
  max-height:100%;
  margin-bottom: 1px !important;
}

/* Ads ----------------------------------*/
.ad_image {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

/* Comic --------------------------------*/
#title {
  font-family: 'Roboto', sans-serif;
}
#date {
  font-weight: 300 !important;
  font-family: 'Roboto', sans-serif;
}
.comic_image {
  max-width: 90%;
  display: block;
  margin-left:auto;
  margin-right: auto;
}

/* Thumbnails ---------------------------*/
.thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  border: 5px solid black;
}

/* Form ---------------------------------*/
#form_div {
  height:auto; 
  margin:0 auto; 
}
form{
  width:50%; 
  margin:0 auto;
  text-align: center;
}
#form_button{
    width:100px;
    display:block;
    margin:0 auto;
}

/* Back ---------------------------------*/
#back_button {
  max-width: 25%;
  min-width:150px;
}

/* w3 Scroll to Top Button --------------*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: Gray; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/* Footer -------------------------------*/
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: LightGray;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

/* Nav Buttons --------------------------*/
.nav_button {
  width: 15%;
  max-width: 140px;
}
